
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section id="breadcrumb-wrapper5" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Giới thiệu
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("Index","FastFood")" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>
                    <span>Giới thiệu</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">
        <section id="page-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <div class="grid">
                        <div class="grid__item large--one-whole">
                            <h1>Giới thiệu</h1>
                            <div class="rte">
                                <p>
                                    Ngày này trong nhịp sống hối hả của con người thì việc giành thời gian để ra ngoài để đi chợ mua về và nấu ăn là 1 điều quá xa sỉ..
                                    Những lo lắng về giao thông không an toàn và hạn chế trong việc mua hàng truyền thống có thể tránh được trong khi mua đồ ăn trực tuyến.
                                    Với mua đồ ăn trực tuyến(online), bạn cũng không cần phải lo lắng về điều kiện thời tiết. Người tiêu dùng và các khách hàng là những tổ chức, công ty,…
                                    đang dần chuyển sang mua đồ ăn trực tuyến nhiều hơn nhằm tiết kiệm thời gian
                                    Chính vì thế việc mua đồ ăn online càng trở nên quan trọng và cần thiết,chỉ cần 1 cú click chuột thì họ có thể có được món ăn mà mình muốn.
                                    Việc mua đồ ăn online có nhiều ưu điểm là có thể lựa chọn những món ăn ngon thông qua các cú click chuột chứ không cần phải đến tận nơi để mua.
                                    Sau khi vào website bán hàng, chọn món ăn, chỉ cần đặt hàng (order) người bán sẽ mang sản phẩm đến tận nhà bạn. Mua đồ ăn online cho phép mua hàng bất cứ khi nào bạn muốn.
                                    Các cửa hàng trên mạng không bao giờ đóng cửa, có thể mua sắm 24/24 giờ và 7 ngày trong tuần. Mua đồ ăn ở các chợ về và nấu, rất khó để bạn có thể mua và
                                    lựa chọn vật liệu tươi ngon để nấu hoặc không cần phải ra các quán ăn để ăn.
                                    Khi mua đồ ăn online, bạn dễ dàng so sánh và đưa ra lựa chọn món ăn theo khẩu vị phù hợp nhất.
                                    Đôi khi bạn gặp phải những người bán đồ ăn khó tính tại một số địa điểm quán ăn.
                                    Mua đồ ăn online thì khách hàng chẳng phải để ý đến chuyện ấy nữa.
                                </p><p><strong>Đội ngũ của nhóm:</strong></p><div><ul><li><span>Phạm Bạch Minh Trí</span><br></li><li><span>Trần Thanh Phong</span><br></li><li><span>Nguyễn Thanh Đạt</span><br></li><li><span>Nguyễn Trọng Khải</span><br></li></ul></div>
                                <p><strong>Giá trị kinh doanh của chúng tôi:</strong></p><div><ul><li><span>Tập làm các trang web để có thêm kinh nghiệm khi đi làm. Và tập quảng bá thương hiệu bán hàng để kiếm thêm thu nhập khi còn đi học</span><br></li></ul></div>
                                <p><strong>Địa Chỉ: </strong> 10/80C XL Hà Nội, Phường Tân Phú, Thủ Đức, Thành phố Hồ Chí Minh</p>
                                <p><strong>Thông tin liên hệ: </strong></p><div><ul><li><span><b>Số điện thoại:</b><a href="tel:0912252304"> 0912252304</a> </span><br></li><li><span><b>Email:</b> thanhdatpqkg23@gmail.com</span><br></li></ul></div>
                                <p><strong>Thông tin mạng xã hội: </strong></p><div><ul><li><span><b>Facebook:</b> <a href="https://www.facebook.com/thanhdatpq.23"> www.facebook.com/thanhdatpq.23</a> </span><br></li><li><span><b>Instagram:</b><a href="https://www.instagram.com/thanhdatpq">www.instagram.com/thanhdatpq</a></span><br></li></ul></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>

<style>
    .suntory-alo-phone {
        background-color: transparent;
        cursor: pointer;
        height: 120px;
        position: fixed;
        transition: visibility 0.5s ease 0s;
        width: 120px;
        z-index: 200000 !important;
    }

    .suntory-alo-ph-circle {
        animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
        background-color: transparent;
        border: 2px solid rgba(30, 30, 30, 0.4);
        border-radius: 100%;
        height: 100px;
        left: 0px;
        opacity: 0.1;
        position: absolute;
        top: 0px;
        transform-origin: 50% 50% 0;
        transition: all 0.5s ease 0s;
        width: 100px;
    }

    .suntory-alo-ph-circle-fill {
        animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
        border: 2px solid transparent;
        border-radius: 100%;
        height: 70px;
        left: 15px;
        position: absolute;
        top: 15px;
        transform-origin: 50% 50% 0;
        transition: all 0.5s ease 0s;
        width: 70px;
    }

    .suntory-alo-ph-img-circle {
        /* animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim; */
        border: 2px solid transparent;
        border-radius: 100%;
        height: 50px;
        left: 25px;
        opacity: 0.7;
        position: absolute;
        top: 25px;
        transform-origin: 50% 50% 0;
        width: 50px;
    }

    .suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
        animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
    }

    .suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
        animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 0.5;
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
        background-color: rgba(0, 175, 242, 0.9);
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
        background-color: #bd0000;
        text-align: center;
    }

    i.icon-phone3:before {
        content: "\e0cd";
        font-family: 'Material Icons';
        left: 5px;
        bottom: -2px;
        position: absolute;
    }

    .list_social {
        position: fixed;
        z-index: 9999999 !important;
        display: none;
        bottom: 115px;
        left: 21px;
        transaction: 0.5s;
    }

        .list_social .social {
            padding: 7px 0px;
            font-size: 19px;
        }

        .list_social.show {
            display: block !important;
        }

    .social i {
        padding-right: 10px;
    }

    .social span, .social fa {
        color: #bd0000
    }

    .social .fa-phone:before {
        content: "\f095";
        background: #bd0000;
        padding: 5px;
        color: #fff;
    }

    .phone_hotline:before {
        content: "\f0d9";
        font-family: Fontawesome;
        position: absolute;
        left: -10px;
        font-size: 30px;
        bottom: -5px;
        color: #bd0000;
    }

    .phone_hotline {
        position: fixed;
        left: 100px;
        bottom: 50px;
        font-size: 24px;
        background: #bd0000;
        padding: 0px 10px;
    }
</style>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>