@model Webfastfood.Models.DonDatHang
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết Đơn Hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var item in ViewBag.ctdh)
        {

            <dt>
                Món:
            </dt>
            <dd>
                @item.sp.TenSanPham
            </dd>
            <dt>
                Đơn giá:
            </dt>
            <dd>
                @item.sp.DonGia
            </dd>
            <dt>
                Số Lượng:
            </dt>
            <dd>
                @item.ctddh.SoLuong
            </dd>

        }

    </dl>

</div>
<p>

    @Html.ActionLink("Trở về", "DonHang", "Admin")
</p>
