
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="PremiumPixels.com">
    <meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/structure.css" rel="stylesheet" />
</head>
<body>
    <h4 style="text-align:center ; padding:100px ; font-size:46px" >Login</h4>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="box login">
            <h3>@ViewBag.ThongBao</h3>
            <fieldset class="boxBody">
                <label>Username</label>
                <input type="text" name="username" />
                @ViewData["loi1"]
                <label>Password</label>
                <input type="password" name="password">
                @ViewData["loi2"]
            </fieldset>
            <footer>
                <label><input type="checkbox" tabindex="3">Keep me logged in</label>
                <input type="submit" class="btnLogin" value="Login" tabindex="4">
            </footer>
        </div>
    }

    <footer id="main">
        <a href="http://wwww.cssjunction.com">Simple Login Form (HTML5/CSS3 Coded) by CSS Junction</a> | <a href="http://www.premiumpixels.com">PSD by Premium Pixels</a>
    </footer>
</body>>
</html>
