
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách sẽ được gửi sớm, Xin Cảm Ơn!!</h2>
@Html.ActionLink("Về Trang Chủ", "Index","FastFood")
